colors{
    color: #3a7dd5;
    color: #3a4ed5;
    color: #080808;
    color: #1b1b1b;
    color: #ffffff;
    color: #ebebeb;
}

#sobre, #servicos, #contatos{
    padding-top: 3rem !important;
}

.bg-section{
    background-color: #000000;
}

.bg-left{
    background-color: #080808;
}

.bg-column2{
    background-image: linear-gradient(to right, rgba(8,8,8,.9), rgba(0,0,0,.7)), url(../img/banner-section.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.bg-contact{
    background-image: linear-gradient(to right, rgba(8,8,8,.9), rgba(0,0,0,.9)), url(../img/contact.jpg);
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(to left, rgba(58, 125, 213, .7) 25%, rgba(58, 78, 213, .7) 100%);
    border-color: #000 !important;
  }
  
  .btn-primary:hover {
    color: #fff;
    background: linear-gradient(to left, rgba(58, 125, 213, 1) 25%, rgba(58, 78, 213, 1) 100%);
    border-color: transparent;
  }

.column-left{
    width: 100%;
    height: auto;
    float: left;
    position: fixed !important;
    z-index: 10;
}

.brand{
    display: none;
}


.main-item{
    display: block;
    margin: auto;
    border-bottom: 2px solid transparent;
    background: linear-gradient(to left, #3a7dd5 25%, #3a4ed5 100%);
    padding: .1px;
    margin-bottom: .3rem;
}

.main-item-inner{
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    text-align: center;
}

.main-item a{
    color: #fff;
    transition: .5s ease;
}

.main-item a:hover{
    color: #ebebeb;
    transform: scale(1.1);
}

.info{
    display: none;
}

/* coluna direita */

.column-right{
    width: 100%;
    position: relative;
    color: #fff;

}

.main-section{
    position: relative;
    height: 700px;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.circulo{
    margin-top: 2rem;
    font-size: 2em;
    width: 80px;
    height: 80px;
    padding: 3px;
    background: linear-gradient(to top, #3a7dd5 0%, #3a4ed5 100%);
    text-align: center;
    transition: .5s;

}

.circulo-inner{
    background: #1b1b1b;
    transition: .5s ease;
    width: 100%;
    height: 100%;

}

.link-seta{
    display: block;
    background: -webkit-linear-gradient(#3a7dd5, #3a4ed5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .5s;
    animation-name: flutuacao;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
}

 .circulo-inner:hover{
    background: #080808;
}


@keyframes flutuacao{
    from{
        padding-top: 5px;
    }

    to{
        padding-top: 20px;
    }
}

.box{
    background: linear-gradient(to top, #3a7dd5 0%, #3a4ed5 100%);
    padding: 3px;
    width: 100%;
    height: auto;
}

.inner-box{
    background: #080808;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.circulo-thumb{
    margin: auto;
    margin-top: 5rem;
    font-size: 4.5em;
    width: 150px;
    height: 150px;
    padding: 3px;
    background: linear-gradient(to top, #3a7dd5 0%, #3a4ed5 100%);
    text-align: center;
    transition: .5s;
    
}

.circulo-thumb-inner{
    background: #1b1b1b;
    transition: .5s ease;
    width: 100%;
    height: 100%;
}

.circulo-thumb-inner i{
    background: -webkit-linear-gradient(#3a7dd5, #3a4ed5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circulo-thumb-inner img{
    transition: .5s ease;
}

.circulo-thumb-inner:hover{
    background: #080808;
}

.circulo-thumb-inner img:hover{
    transform: scale(1.2);
}

.service-item a{
    background: -webkit-linear-gradient(left, #3a7dd5, #3a4ed5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.form-group .form-control{
    background: #1b1b1b;
    border-color: #3a4ed5;
    color: #ebebeb;
}

.form-group .form-control::placeholder{
    color: #fff;
}

.form-group .form-control:focus{
    background: -webkit-linear-gradient(left, #3a7dd5, #3a4ed5);
    border-color: #3a4ed5;
    color: #000;
}

@media only screen and (min-width: 768px) {

    /* coluna esquerda */

    .column-left{
        width: 100%;
        height: 100%;
        position: fixed !important;
        float: left;
    }

    .brand{
        display: block;
    }

    .main-item{
        display: block;
        border: 2px solid transparent;
        background: linear-gradient(to left, #3a7dd5 25%, #3a4ed5 100%);
        width: 13rem;
        margin-bottom: .3rem;
        border-radius: 5px;
    }
    
    .main-item-inner{
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
        border-radius: 5px;
        text-align: center;
    }

    .main-item a{
        color: #fff;
        font-size: 1.5rem;
        transition: .5s ease;
    }

    .main-item a:hover{
        color: #ebebeb;
        transform: scale(1.1);
    }

    .info{
        display: block;
        position: relative;
        top: 32%;
        text-align: center;
        background: -webkit-linear-gradient(#3a7dd5, #3a4ed5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .info p i{
        font-size: 1.2rem;
        margin-right: .5rem;
    }
    
    .info .nav a{
        background: -webkit-linear-gradient(#3a7dd5, #3a4ed5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5rem;
        transition: .5s ease;
    }

    .info .nav a:hover{
        font-size: 1.7rem;
    }

    /* coluna direita */

    .column-right{
        width: 100%;
        height: auto;
        position: relative;
        left: 16.6%;
        color: #fff;
    }

    .main-section{
        position: relative;
        top: 20%;
        height: 800px;
    }

    .circulo{
        margin-top: 5rem;
        font-size: 2em;
        width: 80px;
        height: 80px;
        padding: 3px;
        background: linear-gradient(to top, #3a7dd5 0%, #3a4ed5 100%);
        text-align: center;
        transition: .5s;

    }

    .circulo-inner{
        background: #1b1b1b;
        transition: .5s ease;
        width: 100%;
        height: 100%;

    }
    
    .link-seta{
        display: block;
        background: -webkit-linear-gradient(#3a7dd5, #3a4ed5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: .5s;
        animation-name: flutuacao;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-direction: alternate;
    }
    
     .circulo-inner:hover{
        background: #080808;
    }
    
    
    @keyframes flutuacao{
        from{
            padding-top: 5px;
        }
    
        to{
            padding-top: 20px;
        }
    }

    .box{
        background: linear-gradient(to top, #3a7dd5 0%, #3a4ed5 100%);
        padding: 3px;
        width: 100%;
        height: auto;
    }

    .inner-box{
        background: #080808;
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
    }
    
    .circulo-thumb{
        margin: auto;
        margin-top: 5rem;
        font-size: 4.5em;
        width: 150px;
        height: 150px;
        padding: 3px;
        background: linear-gradient(to top, #3a7dd5 0%, #3a4ed5 100%);
        text-align: center;
        transition: .5s;
        
    }

    .circulo-thumb-inner{
        background: #1b1b1b;
        transition: .5s ease;
        width: 100%;
        height: 100%;
    }

    .circulo-thumb-inner img{
        transition: .5s ease;
    }

    .circulo-thumb-inner:hover{
        background: #080808;
    }

    .circulo-thumb-inner img:hover{
        transform: scale(1.2);
    }

    .service-item a{
        background: -webkit-linear-gradient(left, #3a7dd5, #3a4ed5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .content-image{
        width: 100%;
        height: 300px;
    }

    .content-image img{
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .form-group .form-control{
        background: #1b1b1b;
        border-color: #3a4ed5;
        color: #ebebeb;
    }

    .form-group .form-control::placeholder{
        color: #fff;
    }

    .form-group .form-control:focus{
        background: -webkit-linear-gradient(left, #3a7dd5, #3a4ed5);
        border-color: #3a4ed5;
        color: #000;
    }


}

